<%
#
#
#
%>

<h1 class="page-header">Accordions</h1>
<div class="row">
    <div class="col-xs-12">
        <%= accordion_group_helper do |group| %>
            <%= group.accordion :primary do |accordion| %>
                <%= accordion.header { "accordion 1" } %>
                <%= accordion.body do %>
                    <p>This is accordion 1</p>
                <% end %>
            <% end %>
            <%= group.accordion :info do |accordion| %>
                <%= accordion.header { "accordion 2" } %>
                <%= accordion.body do %>
                    <p>This is accordion 2</p>
                <% end %>
            <% end %>
            <%= group.accordion :danger do |accordion| %>
                <%= accordion.header { "accordion 3" } %>
                <%= accordion.body do %>
                    <p>This is accordion 3</p>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>

<h1 class="page-header">Alerts</h1>
<div class="row">
    <div class="col-xs-12">
        <% %i[success info warning danger].each do |context| %>
            <%= alert_helper context, dismissible: true do %>
                This is a <%= context %> alert.
            <% end %>
        <% end %>
    </div>
</div>


<h1 class="page-header">Tabs - <em>Pills</em></h1>

<div class="row">
    <div class="col-xs-12">
        <%= tabs_helper type: :pills do |tabs| %>
            <%= tabs.menu do |menu| %>
                <%= menu.item(:testing1, class: 'active') { ' Testing 1' } %>
                <%= menu.item :testing2 %>
                <%= menu.item(:testing3) { ' Testing 3' } %>
                <%= menu.dropdown 'Testing Dropdown' do |dropdown| %>
                    <%= dropdown.item(:testing5 ) { 'Testing 5' } %>
                    <%= dropdown.item(:testing6 ) { 'Testing 6' } %>
                    <%= dropdown.item(:testing7 ) { 'Testing 7' } %>
                <% end %>
            <% end %>

            <%= tabs.content do |content| %>
                <%= content.pane :testing1, class: 'active' do %>
                    Testing 1 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing2 do %>
                    Testing 2 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing3 do %>
                    Testing 3 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing5 do %>
                    Testing 5 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing6 do %>
                    Testing 6 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing7 do %>
                    Testing 7 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>

<h1 class="page-header">Tabs - <em>Tabs</em></h1>

<div class="row">
    <div class="col-xs-12">
        <%= tabs_helper type: :tabs do |tabs| %>
            <%= tabs.menu do |menu| %>
                <%= menu.item(:testing1_2, class: 'active') { ' Testing 1' } %>
                <%= menu.item :testing2_2 %>
                <%= menu.item(:testing3_2) { ' Testing 3' } %>
                <%= menu.dropdown 'Testing Dropdown' do |dropdown| %>
                    <%= dropdown.item(:testing5_2 ) { 'Testing 5' } %>
                    <%= dropdown.item(:testing6_2 ) { 'Testing 6' } %>
                    <%= dropdown.item(:testing7_2 ) { 'Testing 7' } %>
                <% end %>
            <% end %>

            <%= tabs.content do |content| %>
                <%= content.pane :testing1_2, class: 'active' do %>
                    Testing 1 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing2_2 do %>
                    Testing 2 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing3_2 do %>
                    Testing 3 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing5_2 do %>
                    Testing 5 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing6_2 do %>
                    Testing 6 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
                <%= content.pane :testing7_2 do %>
                    Testing 7 content - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem repellendus explicabo, 
                    eaque magnam error maxime, vel impedit esse culpa sit cumque ut temporibus aliquam mollitia debitis quidem, omnis delectus?
                    Ea quos aperiam inventore labore! Ut eveniet veniam numquam totam mollitia quidem iste odio reprehenderit aliquid hic ratione,
                    necessitatibus, aut, minima blanditiis ea maiores. Ipsum fuga nisi non dicta aliquid?
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>